{% extends "frontend/base.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <h2>Register</h2>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div >
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div>
                    <input type="password" name="password2" placeholder="Confirm Password">
                </div>
                <input class="btn" type="submit" value="Register">
            </form>
            Already have an account? <a href="{% url 'login' %}">Login here.</a>
        
        </div>
    </div>
{% endblock %}
